USE [DB_TraiCay]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_ADMIN](
	[MAAD] [nvarchar](50) NOT NULL,
	[MATK] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
 CONSTRAINT [PK__ADMIN] PRIMARY KEY CLUSTERED 
(
	[MAAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_USER]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_USER](
	[MAUSER] [varchar](10) NOT NULL,
	[MATK] [varchar](10) NOT NULL,
	[MAGH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[AVARTA] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK__USER] PRIMARY KEY CLUSTERED 
(
	[MAUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADH] [varchar](10) NOT NULL,
	[MATC] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIOHANG]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIOHANG](
	[MATC] [varchar](10) NOT NULL,
	[MAGH] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETGIOHANG] PRIMARY KEY CLUSTERED 
(
	[MATC] ASC,
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETVANCHUYEN]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETVANCHUYEN](
	[MADV] [varchar](10) NOT NULL,
	[MADH] [varchar](10) NOT NULL,
	[THANHTIEN] [money] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETVANCHUYEN] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVIVANCHUYEN]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVIVANCHUYEN](
	[MADV] [varchar](10) NOT NULL,
	[TENDONVI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DONVIVANCHUYEN] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [varchar](10) NOT NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[MAUSER] [varchar](10) NOT NULL,
	[MADH] [varchar](10) NOT NULL,
	[HINHTHUC] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[NGAYMUA] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_GIAODICH] PRIMARY KEY CLUSTERED 
(
	[MAUSER] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MAGH] [varchar](10) NOT NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITRAICAY]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITRAICAY](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAITRAICAY] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC_TRAICAY]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC_TRAICAY](
	[MANCC] [varchar](10) NOT NULL,
	[MATC] [varchar](10) NOT NULL,
	[GIA] [money] NULL,
	[NGAYCUNGCAP] [datetime] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_NHACC_TRAICAY] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[THONGTINNCC] [varchar](100) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[THONGTINNSX] [varchar](100) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHASX_TRAICAY]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASX_TRAICAY](
	[MANSX] [varchar](10) NOT NULL,
	[MATC] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NHASX_TRAICAY] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC,
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MATKHAU] [char](20) NULL,
	[USERNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAICAY]    Script Date: 11/16/2022 3:52:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAICAY](
	[MATC] [varchar](10) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[TENTC] [nvarchar](50) NULL,
	[DONVI] [nvarchar](20) NULL,
	[GIAMOI] [money] NULL,
	[CHITIET] [nvarchar](max) NULL,
	[HSD] [datetime] NULL,
	[NSX] [datetime] NULL,
	[GIAMGIA] [money] NULL,
	[LIST_HINHANH] [varchar](100) NULL,
	[LUOTXEM] [int] NULL,
	[TRANGTHAI] [bit] NULL,
	[DUONGDAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRAICAY] PRIMARY KEY CLUSTERED 
(
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LOAITRAICAY] ([MALOAI], [TENLOAI]) VALUES (N'NKCherry', N'Cherry')
INSERT [dbo].[LOAITRAICAY] ([MALOAI], [TENLOAI]) VALUES (N'NKKiwi', N'Kiwi')
INSERT [dbo].[LOAITRAICAY] ([MALOAI], [TENLOAI]) VALUES (N'NKLe', N'Lê')
GO
INSERT [dbo].[TRAICAY] ([MATC], [MALOAI], [TENTC], [DONVI], [GIAMOI], [CHITIET], [HSD], [NSX], [GIAMGIA], [LIST_HINHANH], [LUOTXEM], [TRANGTHAI], [DUONGDAN]) VALUES (N'NhoTC08', N'NKCherry', N'Nho xanh AutumCrips SunPacific Mỹ', N'Hộp', 165000.0000, N'Nho Xanh SunPacific Mỹ tại Thế giới trái cây: hàng máy bay (vận chuyển bằng đường hàng không) giống AutumnCrips trái tròn, cuống xanh, vị giòn ngọt đậm đà, hàng theo chùm bắt mắt. ', NULL, NULL, 0.0000, NULL, NULL, 1, N'NhoTC08.png')
INSERT [dbo].[TRAICAY] ([MATC], [MALOAI], [TENTC], [DONVI], [GIAMOI], [CHITIET], [HSD], [NSX], [GIAMGIA], [LIST_HINHANH], [LUOTXEM], [TRANGTHAI], [DUONGDAN]) VALUES (N'TC01', N'VNXoai', N'Xoài cát Hòa Lộc Cao Lãnh loại 1', N'kg', 150000.0000, N'Xoài Cát chu hay còn gọi là Cát chu da vàng là giống Xoài được nhiều khách hàng ưa chuộng bên cạnh xoài cát Hoà Lộc bởi đặc điểm nổi trội là: hoàn toàn không có xơ, thịt giòn giòn vị ngọt sắc lịm và mùi thơm tự nhiên không dùng chất ủ chín.', NULL, NULL, NULL, N'TC01_1,TC01_2,TC01_3', 100, 1, N'XoaiTC01.png')
GO
ALTER TABLE [dbo].[_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK__ADMIN__ADMIN_TA_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[_ADMIN] CHECK CONSTRAINT [FK__ADMIN__ADMIN_TA_TAIKHOAN]
GO
ALTER TABLE [dbo].[_USER]  WITH CHECK ADD  CONSTRAINT [FK__USER__USER_GIO_GIOHANG] FOREIGN KEY([MAGH])
REFERENCES [dbo].[GIOHANG] ([MAGH])
GO
ALTER TABLE [dbo].[_USER] CHECK CONSTRAINT [FK__USER__USER_GIO_GIOHANG]
GO
ALTER TABLE [dbo].[_USER]  WITH CHECK ADD  CONSTRAINT [FK__USER__USER_TAI_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[_USER] CHECK CONSTRAINT [FK__USER__USER_TAI_TAIKHOAN]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDO_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDO_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDO_TRAICAY] FOREIGN KEY([MATC])
REFERENCES [dbo].[TRAICAY] ([MATC])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDO_TRAICAY]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETG_CHITIETGI_GIOHANG] FOREIGN KEY([MAGH])
REFERENCES [dbo].[GIOHANG] ([MAGH])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK_CHITIETG_CHITIETGI_GIOHANG]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETG_CHITIETGI_TRAICAY] FOREIGN KEY([MATC])
REFERENCES [dbo].[TRAICAY] ([MATC])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK_CHITIETG_CHITIETGI_TRAICAY]
GO
ALTER TABLE [dbo].[CHITIETVANCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETV_CHITIETVA_DONVIVAN] FOREIGN KEY([MADV])
REFERENCES [dbo].[DONVIVANCHUYEN] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETVANCHUYEN] CHECK CONSTRAINT [FK_CHITIETV_CHITIETVA_DONVIVAN]
GO
ALTER TABLE [dbo].[CHITIETVANCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETV_CHITIETVA_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETVANCHUYEN] CHECK CONSTRAINT [FK_CHITIETV_CHITIETVA_DONHANG]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_GIAODICH__USER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[_USER] ([MAUSER])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_GIAODICH__USER]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_GIAODICH2_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_GIAODICH2_DONHANG]
GO
ALTER TABLE [dbo].[NHACC_TRAICAY]  WITH CHECK ADD  CONSTRAINT [FK_NHACC_TR_NHACC_TRA_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NHACC_TRAICAY] CHECK CONSTRAINT [FK_NHACC_TR_NHACC_TRA_NHACUNGC]
GO
ALTER TABLE [dbo].[NHACC_TRAICAY]  WITH CHECK ADD  CONSTRAINT [FK_NHACC_TR_NHACC_TRA_TRAICAY] FOREIGN KEY([MATC])
REFERENCES [dbo].[TRAICAY] ([MATC])
GO
ALTER TABLE [dbo].[NHACC_TRAICAY] CHECK CONSTRAINT [FK_NHACC_TR_NHACC_TRA_TRAICAY]
GO
ALTER TABLE [dbo].[NHASX_TRAICAY]  WITH CHECK ADD  CONSTRAINT [FK_NHASX_TR_NHASX_TRA_NHASANXU] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[NHASX_TRAICAY] CHECK CONSTRAINT [FK_NHASX_TR_NHASX_TRA_NHASANXU]
GO
ALTER TABLE [dbo].[NHASX_TRAICAY]  WITH CHECK ADD  CONSTRAINT [FK_NHASX_TR_NHASX_TRA_TRAICAY] FOREIGN KEY([MATC])
REFERENCES [dbo].[TRAICAY] ([MATC])
GO
ALTER TABLE [dbo].[NHASX_TRAICAY] CHECK CONSTRAINT [FK_NHASX_TR_NHASX_TRA_TRAICAY]
GO
ALTER TABLE [dbo].[TRAICAY]  WITH CHECK ADD  CONSTRAINT [FK_TRAICAY_TRAICAY_L_LOAITRAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITRAICAY] ([MALOAI])
GO
ALTER TABLE [dbo].[TRAICAY] CHECK CONSTRAINT [FK_TRAICAY_TRAICAY_L_LOAITRAI]
GO
