<link href="~/assets/css/chinhsua.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap.css" rel="stylesheet" />

@{
    int  tb =ViewBag.tb;
}
@if( tb == 0 )
{
    <title>Đăng nhập</title>
<link rel="apple-touch-icon" href="assets/img/apple-icon.png">
<link rel="shortcut icon" type="image/x-icon" href="/Images/Hnen_2.jpg">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="container-fluid">
    <div class="row nen1">
        <video style="width:100%; height:100%" id="background" autoplay preload="auto" loop="loop" muted>
            <source src="~/Images/THTđ.mp4" type="video/mp4" />
        </video>
        <div style="padding-left: 250px; padding-top: 100px" class="row">
            <div class="col-4">
                <a href="/Home/Index">
                    <img src="~/Images/THTĐ.png" />
                </a>
            </div>

            <div style="padding-left: 100px" class="content col-8">
                <form method="post" action="/Home/SauKhiDangNhap">
                    <h2 class="f1 text-center mt-5">ĐĂNG NHẬP TÀI KHOẢN</h2>
                    <div class="d-flex pb-2 pt-3">
                        <i class='fas fa-user-alt pr-3 pt-2' style='font-size:25px;color:#ff00dc'></i>
                        <input type="text" class="form-control w-75" name="username" placeholder="Email address" required autofocus>

                    </div>
                    <div class="d-flex pb-2">
                        <i class='fas fa-key pr-3 pt-2' style='font-size:25px;color:#ff00dc'></i>
                        <input type="password" class="form-control w-75 " name="password" placeholder="Password" required>

                    </div>
                    <div class="checkbox mb-3 ml-3 mt-2">
                        <label>
                            <input class="pt-3 pl-2" type="checkbox" value="remember-me">
                            <span style="color: #ff00dc" class="pt-3 pl-2">Remember me</span>
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block w-75 ml-5" type="submit">Đăng Nhập</button>
                    <p class="mt-5 mb-3 text-muted text-center"></p>
                    <div style="padding-left: 30px" class="d-flex text-center">
                        <p>Bạn chưa có tài khoản? </p>
                        <a href="/Home/DangKi" class="ml-2" style="color:#ff00dc">Đăng kí ngay</a>
                    </div>
                </form>


            </div>
        </div>

            
    </div>

</div>
}
else
{
    <div class="container">
        <h2 class="text-center m-3 text-success">Bạn đã đăng nhập!</h2>
        <a href="/Home/Index" class="text-center btn btn-success">Quay về</a>
    </div>
  
}
