body {
}

.content
{
    width:50%;
}


.nen1
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
}
#background 
{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    right: 0px;
    bottom: 0px;
    
}

.f1
{
    text-shadow: 0 0 30px #ff00dc;
    font-family: SVN-Cookies;
    color: #ff00dc;
}